html(lang="eng")
    head 
        title Product
        style
            include ../styles.css
    
    body 
    a(class="head" href="/products") Products
    h2 #{product.name}
    div.info
        br
        |   Price: $#{product.price}
        br
        |   Dimensions: #{product.dimensions.x} x #{product.dimensions.y} x #{product.dimensions.z}
        br
        |   Stock: #{product.stock}
        br
        br
        a(href="/products/" + product.id + "/reviews/") Reviews