html(lang="eng")
    head 
        title Product Review
    
    body 
    a(href="/products") Products
    h1(id="prodID", name=product.id) #{product.name} Reviews

    | Rating (1-10): 
    br
    input(type="number", id="rating", name="rating", min="1", max="10", required)
    br
    | Comment:  
    br  
    textarea(id="comment", name="comment", rows="4", required)
    br
    button(type="button", id="submit") Submit Review
    br
    br
    each review in reviews
        a(href="/products/" + product.id + "/reviews/" + review.id) Review: #{review.id + 1}
        br
        |   Rating: #{review.rating}/10
        br
        |   Comment: #{review.comment}
        br
        br

script(src="../../../reviews.js")